[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
jupyter = "*"
sklearn = "*"
lightgbm = "*"
matplotlib = "*"
seaborn = "*"
kaggle = "*"
pandas = "*"
logexp = ">=0.1.2"
colt = ">=0.2.0"
jsonnet = "*"
pdpipe = "*"

[requires]
python_version = "3.7"
